p.center,
h1.center,
h3.center,
h4.center,
h6.center {
  text-align: center;
}

.row {
  padding-left: 5px;
  padding-right: 5px;
}

h6.right {
  text-align: right;
}

h3.italic,
h4.italic,
h6.italic {
  font-style: italic;
}

.day {
  background: #f8fcfe; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f8fcfe 0%, #eff9fd 40%, #e5f5fb 59%, #c8eafa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f8fcfe), color-stop(40%,#eff9fd), color-stop(59%,#e5f5fb), color-stop(100%,#c8eafa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #f8fcfe 0%,#eff9fd 40%,#e5f5fb 59%,#c8eafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #f8fcfe 0%,#eff9fd 40%,#e5f5fb 59%,#c8eafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #f8fcfe 0%,#eff9fd 40%,#e5f5fb 59%,#c8eafa 100%); /* IE10+ */
  background: linear-gradient(135deg, #f8fcfe 0%,#eff9fd 40%,#e5f5fb 59%,#c8eafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fcfe', endColorstr='#c8eafa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 1px 1px 5px #aaa;
}

table.center {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

div.center {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.panel {
  border-radius: 5px;
}

span.underline {
  text-decoration: underline;
}

span.bold {
  font-weight: 700;
}

body {
  padding-top: 60px;
}

.panel ul{
  font-size: .75em;
}

div[id^="description"] {
  border-radius: 8px;
  transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out; /* Safari */
}

.flash {
  background: #ffffa1;
}

p.desc {
  margin-left: .5em;
  margin-bottom: .3em;
  color: #e1524a;
}
