Thumbs.db
compass_app_log.txt
*.DS_Store
*.sass-cache
*.scssc
venv
.DS_Store?
.Trashes
*.pyc
.idea
node_modules/
build/
*.map

Gemfile.lock
vendor/bundle/
bin/bundle/
vendor/bower_components/
tmp/
.bundle/
